@tailwind base;
@tailwind components;
@tailwind utilities;




.fc-license-message {
  display: none;
}

.fc-dayGridMonth-view {
  font-size: 12px;
}

.fc-header-toolbar {
  font-size: 30px !important;
  font-weight: 700 !important;
  margin-bottom: 17px !important;
  margin-left: 39px !important;
  margin-top: 23px !important;

}

body {
  overflow: hidden;
}


.fc-toolbar-title {
  font-size: 30px !important;
  font-weight: 700 !important;
}